<div class="col">
	<div class="card">
	  <div class="card-body">
	    <h5 class="card-title"><%= link_to question.title, question %></h5>
	    <h6 class="published-date">Submitted <%= time_ago_in_words(question.created_at) %> ago by <%= question.user.email %></h6>
	  </div>
	</div>
</div>