.questions.index {
  margin-top: 100px;

  .votes {
    padding: 20px 0;
  }

  .answer {
    padding: 20px 0;
  }

  small {
    font-weight: bolder;
  }

  p {
    margin-bottom: 0;
  }

  a { 
    text-decoration: none;
    color: $dark-primary-color;
  }

  .card-body {
    padding-left: 0;
  }

  .card-title {
    margin-bottom: 0;
  }

  .published-date {
    color: $text;
    font-size: 13px;
    padding-bottom: 10px;
    border-bottom: 1px solid $divider-color;
  }

}

.questions.new {
  margin-top: 100px;
}

.questions.show {
  margin-top: 100px;

  .published-date {
    color: $text;
    font-size: 13px;
    font-weight: bold;
  }

  h1 {
    margin-bottom: 0;
    color: $primary-color;
  }

  .votes {
    margin-top: 40px;
    a {
      padding: 0;
    }
  }

  p {
    margin-top: 20px;
    padding: 20px 0;
  }

  .info {
    font-size: 14px;
    float: right;
    color: $dark-primary-color;
    text-shadow: 1px 1px 1px $divider-color;
  }

  .comments {
    margin-bottom: 10px;
  }

  .form-control {
    margin-top: 50px;
    height: 200px;
  }

  .btn-success {
    margin-bottom: 30px;
  }

  .disclaimer {
    color: $text;
  }

  .comment-btn {
    margin: 0 6px;
  }
  
}

.questions.edit {

  .container {
    margin-top: 100px;
  }

  .options {
    padding: 10px 0;
    .btn {
      border: 0;
      color: $white-text;
      background-color: #212529;
    }
  }

  label {
    font-weight: bold;
  }

  .question {
    height: 200px;
  }
}