.registrations.new, .sessions.new, .passwords.new {

	.row {
		margin-top: 100px;
	}

	h2 {
		font-weight: bolder;
	}
	.field {
		margin-bottom: 20px;
	}
	a {
		text-decoration: none;
	}
}

.registrations.edit {
	.col {
		margin-top: 100px;
	}

	h2 {
		font-weight: bolder;
		text-align: center;
		font-size: 2.5rem;
	}

	h6 {
		font-weight: bolder;
		font-size: 12px;
		color: $text;
	}

	.submit {
		font-family: Merriweather !important;
		margin-bottom: 10px;
	}

	small {
		display:block;
		text-align: center;
	}
	
}